<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/button.png">
</div>
<div class="clearfix"></div>
<div class="parent" [style]="{display: 'flex'}">
<div id="card1">
<p-card subtitle="About Rudy" [style]="{width: '360px'}">
  <p-header>
    Poems by Rudy Fransisco
  </p-header>
  Fall in love with Rudy's Absolutely mesmerizing collection called "Helium"
  <p-footer>
  Click here to buy now!
  </p-footer>
</p-card>
</div>
<div></div>
<div id="card2">
<p-card subtitle="About Olivia" [style]="{flex: 1}">
    <p-header>
      Poems by Rudy Fransisco
    </p-header>
    Fall in love with Rudy's Absolutely mesmerizing collection called "Helium"
    <p-footer>
    Click here to buy now!
    </p-footer>
  </p-card>
</div>
</div>

